!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title nomad :: world-class command line utilities for iOS development
    %meta{name: "author", content: "Mattt Thompson"}
    %meta{name: "description", content: "world-class command line utilities for iOS development."}
    %link{rel: "stylesheet", href: "/css/screen.css", type: 'text/css', media: "screen", charset: "utf-8"}

    %meta{property: "og:title", content: "nomad"}
    %meta{property: "og:url", content: "http://nomad-cli.com"}
    %meta{property: "og:image",  content: "http://nomad-cli.com/images/houston.svg"}
    %meta{property: "og:site_name", content: "nomad"}
    %meta{property: "og:description", content: "world-class command line utilities for iOS development."}

  %body
    %header
      %div{role: 'container'}
        %hgroup
          %h1 Nomad
          %h2 world-class command line utilities for iOS development

        - for library in [:cupertino, :houston, :dubai, :venice, :shenzhen]
          %a{href: "##{library}", title: "#{library}".capitalize}
            %img{src: "/images/#{library}.svg", width: 100, alt: "#{library}".capitalize}

        %code
          $ gem install nomad-cli

    %article
      %div{role: 'container'}
        = yield

        %footer
          :markdown
            © 2013 [Mattt Thompson](http://mattt.me)

            Illustrations by [Gustav Holtz](http://gustavholtz.com)

